extends layout
block heading
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  //leave this inline!
block content
  h2 This project allows you to try to train a Neural Network to detect your emotions. Use the training buttons to add data and run tests, and use Production when you have it working
  #panels
    div(class="panel panel-default")
      div(class="panel-heading")
        h3 Training
          h4 Send data to the network to train it to read your emotions
      div(class="panel-body")
        #training
          button#start start collecting data
          button#stop stop collecting data
          button#save save and clear collected data
          button#delete clear collected data
          button#filetrain Run network training
          button#test Live test
          button#newnn Create fresh network to train
  form#buttonform
    input(type="radio", name = "emotion",value=0, checked = "true")
    | Happy
    input(type="radio", name = "emotion",value=1)
    | Sad
    input(type="radio", name = "emotion",value=2)
    | Angry
    input(type="radio", name = "emotion",value=3)
    | Fear
    input(type="radio", name = "emotion",value=4)
    | Surprise
    input(type="radio", name = "emotion",value=5)
    | Disgust
    input(type="radio", name = "emotion",value=6)
    | Contempt
  #container
    video(id="videoElement",width="400",height="300",autoplay,loop)
    canvas(id="drawCanvas" ,width="400" ,height="300")
  div(class="panel panel-default")
    div(class="panel-heading")
      h3 Production
    div(class="panel-body")
      #Production
        button#activate start
        button#deactivate stop
  #chartContainer
  script(src="javascripts/columnchart.js")
  script(src="javascripts/canvasjs.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="javascripts/clmtrackr.js")
  script(src="javascripts/model_pca_20_svm.js")
  script(src="javascripts/webcam.js")
  script(src="javascripts/main.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
