#container {
    margin: 0px auto;
    width: 400px;
    height: 300px;
    position: relative;
}
#videoElement {
    width: 400px;
    height: 300px;
    background-color: #666;
}
#drawCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width:400;
  height:300;
  style.width : 400;
  style.height : 300;
}
#chartContainer{
  height:300px;
  width:100%;
  margin:40;
}
#buttonform{
  align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
}
